.container {
  
  max-width: 530px;
  margin: 60px auto;
  overflow: auto;
  min-height: 650px;
  border: 5px solid rgba(224, 17, 243, 0.911);
  border-right: 11px solid rgba(170, 7, 185, 0.897);
  border-bottom-left-radius: 8px solid rgba(164, 5, 179, 0.911);
  padding: 40px;
  border-radius: 10px;
  color: rgb(212, 152, 23);
}

.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;

}



/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
